/* Catppuccin Mocha Colors */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    background-image: none;
    box-shadow: none;
}

window {
    font-family: "Inter",  monospace;
    font-size: 14pt;
    font-weight: 500;
    color: #cdd6f4;
    background-color: rgba(30, 30, 46, 0.9);
}

button {
    color: #cdd6f4;
    background-color: #313244;
    border: 2px solid #585b70;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: #45475a;
    border: 2px solid #cba6f7;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#lock:focus, #lock:active, #lock:hover {
    color: #f9e2af;
    border: 2px solid #f9e2af;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#logout:focus, #logout:active, #logout:hover {
    color: #fab387;
    border: 2px solid #fab387;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#suspend:focus, #suspend:active, #suspend:hover {
    color: #89dceb;
    border: 2px solid #89dceb;
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#hibernate:focus, #hibernate:active, #hibernate:hover {
    color: #94e2d5;
    border: 2px solid #94e2d5;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#shutdown:focus, #shutdown:active, #shutdown:hover {
    color: #f38ba8;
    border: 2px solid #f38ba8;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#reboot:focus, #reboot:active, #reboot:hover {
    color: #a6e3a1;
    border: 2px solid #a6e3a1;
} 
